

@font-face {
    font-family: 'cairo';
    src: url('#{$font-path}/cairo-Regular-webfont.eot');
    src: url('#{$font-path}/cairo-Regular-webfont.eot') format('embedded-opentype'),
		 url('#{$font-path}/cairo-Regular-webfont.woff') format('woff'),
		 url('#{$font-path}/cairo-Regular-webfont.ttf') format('truetype'),
		 url('#{$font-path}/cairo-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'cairo';
    src: url('#{$font-path}/cairo-Bold-webfont.eot');
    src: url('#{$font-path}/cairo-Bold-webfont.eot') format('embedded-opentype'),
		 url('#{$font-path}/cairo-Bold-webfont.woff') format('woff'),
		 url('#{$font-path}/cairo-Bold-webfont.ttf') format('truetype'),
		 url('#{$font-path}/cairo-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}