$lang : en;
$direction : ltr;

$left: right;
$right: left;

$ltr: rtl;
$rtl: ltr;
 
$arrow-dir:"\f104";
$arrow-dir-Inv:"\f105"; 
$arrow-dir-menu:"\f0d9";

$font-family		: 'droidnaskh', sans-serif;
$font-secondary		: 'Noto Sans', sans-serif;