// ## variables
		   $footer-bg : $primary-darker;
		   $footer-bottom-bg: #222b31;
		$footer-color : #fff;
	  $footer-padding : rem(30) 0;

// Footer-Component


// ## ========================================================================
// ## styles
.l-footer{
	position: relative;
	padding: 8px 40px;
	background-color:  $footer-bg ;
	.footer-bg{
	    background-image: url(/images/footer-background.svg);
		position: absolute;
		top: -93px;
		@include breakpoint(isTablet){
			top: -110px;
		} 
		@include breakpoint(mid){
			top: -130px;
		}
		
		left: 0;
		width: 100%;
		height: 150px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}
	.footer__middle{
		text-align: $right;
		.footer--item{
			color: $text-color;
			padding:0 45px;
			@include breakpoint(isMobile){
				padding: 0 10px;
				&:last-child{
					padding-bottom: 25px;
				}
			}
			.footer--item__heading{
				text-align: $right;
				font-weight: 900;
				font-size: 18px;
				padding: 0;
				color: $text-color;
			}
			.mdl-mega-footer__link-list{
				li{
					margin-bottom: 5px;
				}
			}
			&.footer-item__center{
				text-align: center;
			}
		}
		.footer--item__logo{
			height: 80px;
			width: auto;
			@include breakpoint(isMobile){
				margin-bottom: 15px;
			}
			margin-bottom: 25px;
		}
	}
	.footer__bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 35px;
		line-height: 35px; 
		vertical-align: middle; 
		text-align: center;
		background-color: $footer-bottom-bg; 
	}
	.footer--item__links{
		margin-top: 25px;
		a{
			margin: 0 5px;
		}
		img{
			@include breakpoint(isMobile){
				width: 40%;
			}
			width: 45%;
		}
	}
}