<footer class="mdl-mega-footer l-footer">
            <div class="footer-bg"></div>
            <div class="mdl-mega-footer__middle-section mdl-grid footer__middle">
                <div class="mdl-cell mdl-cell--4-col  footer--item footer-item__center">
                    <img class="footer--item__logo" src='images/dorr-logo.svg' alt="Dorr">    
                    <p class="mdl-cell--hide-phone">خدمات دور تساعد على بيع وشراء العقارات بسهولة بالإضافة إلى تزويدك بمعلومات أساسية لإتخاذ واحد من أهم القرارات المالية فى حياتك</p>
                </div>
               
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone  footer--item">
                <h1 class="mdl-mega-footer__heading footer--item__heading">خدماتنا</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">الأشتراكات</a></li>
                    <li><a href="#">وظائف</a></li>
                    <li><a href="#">أعلن معنا</a></li>
                    <li><a href="#">تواصل معنا</a></li>
                    <li><a href="#">الأحكام والشروط</a></li>
                </ul>
               
                </div>
                <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone  footer--item">
                <h1 class="mdl-mega-footer__heading footer--item__heading">خدماتنا</h1>
                <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">بحث عن عقارات</a></li>
                    <li><a href="#">إعلن عن عقارات</a></li>
                    <li><a href="#">إدارة العقارات</a></li>
                    <li><a href="#">تقارير الإسعار</a></li>
                    <li><a href="#">وساطة عقارية</a></li>
                    <li><a href="#">تقييم</a></li>
                </ul>
                </div>  

                
                <div class="mdl-cell mdl-cell--4-col footer--item footer-item__center">
                    <h3>تطبيق دور</h3>
                    <h4>حمل تطبيق دور على هاتفك وتمتع بجميع خدمات دور</h4>
                    <div class="footer--item__links">
                        <a href="#/"><img src='images/playstore.svg' alt=""></a>
                        <a href="#/"><img src='images/app-store.svg' alt=""></a>
                    </div>
                
                </div>
            </div>

            <div class="footer__bottom">
                <div class="">جميع الحقوق محفوظة - تطبيق دور 2018</div>
            </div>

    </footer>
